

.login-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: normal;
    align-content: normal;
    font-size: 18px;
}

.login-box .flex-item:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.login-box .flex-item:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.login-box .flex-item h2 {
    font-size: 18px;
    padding: 0;
    margin: 0;
    margin-bottom: 0.25em;
    border: none;
}

.login-box .flex-item input {
    font-size: 18px;
    padding: 3px;
    margin: 0;
    margin-bottom: 0.25em;
    border: 1px solid lightgray;
}

.login-box .flex-item input:active {
    border-color: black;
}

.login-box .flex-item input[disabled],
.login-box .flex-item input:disabled {
    border-color: lightgray !important;
    color: gray !important;
}

.login-box .flex-item button {
    font-size: 18px;
    padding: 0.5em 1em;
    margin: 1em 0;
    border: 1px solid gray;
    text-align: center;
    width: 100%;
    display: block;
    border-radius: 0.5em;
}

.login-box .flex-item button:disabled,
.login-box .flex-item button[disabled] {
    color: lightgray;
    border-color: lightgray;
}

.login-box .message {
    padding: 3px 0;
    font-style: italic;
}
.login-box .error {
    color: red;
}
.login-box .center {
    text-align: center;
}
