.container {
    float: right;
    display: block;
    width: 50%;
    margin: 1em;
    margin-right: 0;
    font-size: 2rem;
    line-height: 160%;
    font-style: italic;
    font-family: Georgia, Gararmond, 'Times New Roman', sans-serif;
}

.container p {
    font-size: 2rem;
    line-height: 160%;
}

.small.container, .small.container p {
    font-size: 1rem;
}

.small.container h1 {
    font-size: 1.5rem;
}

.small.container h2 {
    font-size: 1.1rem;
}
